# COURSE: Master statistics and machine learning: Intuition, Math, code
##### COURSE URL: udemy.com/course/statsml_x/?couponCode=202006 
## SECTION: ANOVA
### VIDEO: One-way ANOVA (independent samples)
#### TEACHER: Mike X Cohen, sincxpress.com

In [1]:
# import libraries
import numpy as np
import matplotlib.pyplot as plt
import pingouin as pg
import pandas as pd

In [2]:
## data parameters

# group means
mean1 = 4
mean2 = 3.8
mean3 = 7

# samples per group
N1 = 30
N2 = 35
N3 = 29

# standard deviation (assume common across groups)
stdev = 2

In [3]:
## now to simulate the data
data1 = mean1 + np.random.randn(N1)*stdev
data2 = mean2 + np.random.randn(N2)*stdev
data3 = mean3 + np.random.randn(N3)*stdev

datacolumn = np.hstack((data1,data2,data3))

# group labels
groups = ['1']*N1 + ['2']*N2 + ['3']*N3

# convert to a pandas dataframe
df = pd.DataFrame({'TheData':datacolumn,'Group':groups})
df

      TheData Group
0    6.467109     1
1    5.433978     1
2    3.500292     1
3    2.861105     1
4    2.293817     1
..        ...   ...
89   7.068085     3
90   7.003974     3
91   7.431437     3
92   8.464790     3
93  10.485993     3

[94 rows x 2 columns]

In [ ]:
pg.anova(data=df,dv='TheData',between='Group')

In [ ]:
pg.pairwise_tukey(data=df,dv='TheData',between='Group')

In [ ]:
df.boxplot('TheData',by='Group');